@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap&family=Pacifico");
@import url("https://use.typekit.net/laf2ggn.css");

* {
  font-family: "Pacifico";
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/lukewarmBackground.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 24pt;
  letter-spacing: 0.75px;
  color: rgb(0, 0, 0);
}

.wrapper {
  padding-top: 15%;
  height: 100vh;
}

.chat {
  background: transparent;
  overflow: scroll;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 60px 20px 50px 20px;
  border-radius: 1rem;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 100%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: white;
}

.messages div a:hover {
  color: rgb(134, 0, 114);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: black;
  color: white;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: white;
  border: 1px solid rgb(134, 0, 114);
  color: rgb(134, 0, 114);
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 0px 20px;
  background: transparent;
}

.actions input {
  background: transparent;
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid rgb(134, 0, 114);
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 19vw;
    height: 60vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 19vw;
  }
  .title {
    height: 7.5vh;
  }
}

.action {
  font-family: "Inter", Arial;
  font-size: 10.5pt;
  color:rgb(90, 80, 80)
}

.selectionButton {
  background-color: whitesmoke;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
}